.root {
    -fx-font-family: Elegante Classica;
    -fx-background-color: linear-gradient(to bottom, #304157 0%, #08254a 100%);
}

.button {
    -fx-background-color: #0d0c0c;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-border-radius: 2;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #383838;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}


